body, html {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  background-color: #2C2C2C;
  overflow: auto;
}
section {
  padding-left: 16px;
}
header.fiatlux.ui-title {
  text-align: left;
  background-color: #1B1B1B;
  padding: 4px 16px;
  color: #FFF;
  overflow: hidden;
  position: relative;
}
h3{
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: .02em;
}
.fiatlux.ui-control {
  padding: 8px 16px;
}
.fiatlux.ui {
  padding: 2px 0;
}

.fiatlux.ui select{
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: auto;
  border-radius: 2px;
  background: #4F4F4F;
  border: none;
  color: #BBB;
  font-size: 11px;
  line-height: 16px;
  height: 22px;
  letter-spacing: .3px;
  cursor: normal;
  font-family: inherit;
  transition: all .1s ease-out;
}

.fiatlux.ui select:focus {
  outline: none;
  box-shadow: none;
}

/*UI platform toggle*/
.toggle-button input[type="radio"] {
  width: 0px;
  height: 0px;
  display: none;
}
.toggle-button label {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *vertical-align: auto;
  border-radius: 4px;
  background: #2C2C2C;
  color: #8f8f8f;
  padding: 2px 8px;
  font-size: 11px;
  line-height: 16px;;
  letter-spacing: .3px;
  cursor: normal;
  transition: all .1s ease-out;
}

label.control-title {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: auto;
  color: #4f4f4f;
  padding: 2px 8px 2px 0;
  font-size: 9px;
  line-height: 16px;;
  letter-spacing: .6px;
  cursor: normal;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: left;
  width: 40px;
}
label.control-title:hover {
  background-color: #2c2c2c !important;
}
.toggle-button label {
  *display: inline;
}

.toggle-button label:hover {
  background-color: white;
  border-color: #b4b4b4;
  color: #434343;
}
.toggle-button label:active,
.toggle-button label.active {
  color: rgba(0, 0, 0, .5);
}

.toggle-button label:disabled,
.toggle-button label.disabled {
  cursor: default;
  color: #b4b4b4;
  border-color: #cccccc;
  box-shadow: none;
}

.toggle-button input:checked+label,
.toggle-button label.selected {
  background: #e6eaed;
  color: #000;
}

.toggle-button input:disabled+label {
  cursor: default;
  color: #b4b4b4;
  border-color: #dadada;
  box-shadow: none;
}

/*helper class to change preview of components depend on the platform*/
.platformdesktop {
  font-family: 'MuseoSans-700' !important;
}

.platformios {
  font-family: 'SF UI Text' !important;
  font-weight: 600 !important;
}

.platformandroid {
  font-family: 'Roboto' !important;
  font-weight: 500 !important;
}

.platformmweb {
  font-family: 'Helvetica Neue' !important;
  font-weight: 500 !important;
}
